--requirement requirements.txt

black==26.3.1                                  # the uncompromising code formatter
bandit==1.9.4                                   # a Python source code security analyzer
coverage==7.13.5                                # Tool for measuring code coverage of Python programs
django-extensions==4.1                          # Collection of custom extensions for the Django Framework for debugging
django-debug-toolbar==6.3.0                     # Display various debug information about the current request/response
django-debug-toolbar-template-timings==0.9      # Templates timings for Django Debug Toolbar
jupyter==1.1.1                                  # Interactive computing for debugging
pip-upgrader==2.4.4                            # An interactive pip requirements upgrader
pylint==4.0.5                                   # Linter. Cannot update further without breaking integration with pylint-django
pylint-django==2.7.0                            # Special linting for django.
pytest==9.0.3                                   # must be higher than 6.0 for pytest-xdist latest version
pytest-asyncio==1.3.0                           # Async tests library
pytest-cov==7.1.0                               # Coverage plugin for pytest
pytest-django==4.12.0                           # Async tests library
pytest-factoryboy==2.8.1                        # Factoryboy support for pytest
pytest-instafail==0.5.0                         # Instant failure reports for pytest
pytest-pylint==0.21.0                           # Run pylint as part of pytest
pytest-sugar==1.1.1                             # Sweeten the terminal output of pytest
pytest-xdist==3.8.0                             # For parallel test execution
pytest-timeout==2.4.0                           # To set timeouts on tests
vulture==2.16                                   # Find dead code
