DJANGO_SECRET_KEY=change-me-in-production
DEBUG=true
ALLOWED_HOSTS=*
SECURED_FIELDS_KEY=Ot1ee8MohgGosTKeen8XKKnRsgcwHANhfO3I4Y-0PPc=
SECURED_FIELDS_HASH_SALT=8d352777
PERMYT_SERVICE_ID=your-service-id
PERMYT_PUBLIC_KEY_PATH=keys/permyt/public.pem
PRIVATE_KEY_PATH=keys/connector/private.pem
# Production: BASE_URL=https://govid.permyt.io
BASE_URL=http://localhost:9012
NONCE_TTL_SECONDS=60
PERMYT_HOST=http://localhost:8000
REDIS_HOST=localhost
