{% load compress %}{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;600&display=swap" rel="stylesheet">

  <!-- Styles -->
  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'css/style.scss' %}">
  <link rel="stylesheet" type="text/x-scss" href="{% static 'css/verify.scss' %}">
  {% block css %}{% endblock %}
  {% endcompress %}
</head>
<body>

  {% include "pages/common/navbar.html" %}

  {% block body %}{% endblock %}

  <!-- Lucide Icons -->
  <script src="https://unpkg.com/lucide@latest"></script>

  {% block js_vendor %}{% endblock %}

  {% compress js %}
  <script src="{% static 'js/main.js' %}"></script>
  {% block js %}{% endblock %}
  {% endcompress %}

  <script>lucide.createIcons();</script>
</body>
</html>
